@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
.hero-content {
  isolation: none;
  display: flex;
  min-width: 575px;
  max-width: 80px;
  align-items: none;
  justify-content: none;
  gap: calc(4rem /* 4px */ * 4);
  padding: calc(0.25rem 4px * 4);
}
